{% extends 'shop/base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
    <div class="about">
        <div class="title">
            <h1>Информация о нас</h1>
            <p>
                "Каждый прожитый миг ценен. Мы в Cafe стараемся 
                перенять многовековой опыт французских мастеров 
                и внести в него что-то новое, чтобы дарить улыбки 
                и настроение нашим гостям, даже если на посещение 
                кофейни у них совсем мало времени."
            </p>
        </div>
        <div class="info">
            <div class="inside">
                <p>8-999-999-99-99</p>
                <p>Г.Москва Ул.Авангардная 99/9</p>
                <h3>Ждем Вас!</h3>
            </div>
        </div>
    </div>
{% endblock %}