{% extends 'shop/base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}
    <div class="login">
        <h1>Оплата</h1>
        <h3>Заказ на сумму: {{ cart.get_total_price }} р.</h3>
        <input type="text" maxlength="16"><br><br>
        <input type="text" maxlength="2" style="width: 30px;">
        <input type="text" maxlength="2" style="width: 30px;">
        <input type="text" maxlength="3" style="width: 40px; margin-left: 70px"><br><br>
        <a href="{% url 'pay_done' %}" class="double-border-button">Оплатить</a>
    </div>
{% endblock %}